body {
    background-color: black;
}

.top-logo {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

p, a {
    font-family: 'IM Fell English', serif;
    color: white;
    font-size: 1.25rem;
}

.top-logo {
    border-radius: 6px;
}

.bottom-logo {
    width: 20%;
    border-radius: 6px;
}

.justify {
    text-align: justify;
    text-justify: inter-word;
}

@media (max-width: 575.98px) {
    .bottom-logo {
        width: 30%;
    }
}

.audio-card {
    margin: 1rem;
}

.audio-controls {
    opacity: 1 !important;
}

svg {
    width: 25px;
    height: 25px;
}

svg path {
    fill: white;
}

.bio-col {
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right:1rem;
    padding-bottom: 2rem;
}

.card, .card img {
    border-radius: 6px;
    border: none;
}

.card-img-overlay {
    opacity: 0;
    transition: ease-in-out;
    transition: 0.3s;
    border-radius: 6px;
}

.card-img-overlay:hover {
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;
}

.card-title {
    font-size: 1.5rem;
}

.card-text {
    font-family: 'Barlow Semi Condensed';
}

footer {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: white;
    padding-bottom: 0.5rem !important;
    padding-top: 0.5rem !important;
}

footer p , a {
    color: black;
}

footer a {
    padding-left: 1rem;
    font-size: 1.5rem;
}
