body {
    background-color: black;
}

.clipped {
    overflow-x: hidden;
}

p, a {
    font-family: 'IM Fell English', serif;
    color: white;
    font-size: 1.25rem;
}

a:hover {
    font-weight: bold;
    color: black;
    text-decoration: none;
  }

.behind {
    z-index: -1;
}

/* Large devices (desktops, 992px and up)
lottie-player {
    width: 110%;
}
*/

.text-logo {
    font-size: 2.6rem;
    margin-bottom: 0;
    font-style: italic;
}

.subtitle {
    color: gray;
    font-size: 1rem;
    margin-bottom: 2.5rem;
}

.hero-col {
    padding: 0;
}

.top-logo {
    border-radius: 6px;
}

.bottom-logo {
    border-radius: 6px;
}

.justify {
    text-align: justify;
    text-justify: inter-word;
}

.logo-col {
    padding-left: 0rem;
    padding-right: 0rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.img-with-text {
    text-align: center;
    width: 60%;
    margin-top: 0.5rem;
}

.img-with-text img {
    display: block;
    margin: 0 auto;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .logo-col {
        padding-left: 6rem;
        padding-right: 6rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .img-with-text {
        width: 20%;
    }
}

.audio-card {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.audio-controls {
    opacity: 1 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mejs__container {
    width: 100% !important;
    height: auto !important;
}

.mejs__container, .mejs__controls {
    background: transparent !important;
}

.mejs__controls {
    position: relative !important;
}

.mejs__volume-button, .mejs__mute, .mejs__horizontal-volume-slider, .mejs__currenttime-container {
    display: none !important;
}

svg {
    width: 25px;
    height: 25px;
}

svg path {
    fill: white;
}

.bio-col {
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right:1rem;
    padding-bottom: 2rem;
}

.card, .card img {
    border-radius: 6px;
    border: none;
}

.card-img-overlay {
    opacity: 0;
    transition: ease-in-out;
    transition: 0.3s;
    border-radius: 6px;
    padding: 1rem;
}

.card-img-overlay:hover {
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;
}

.card-title {
    font-size: 1.5rem;
}

.card-text {
    font-family: 'Barlow Semi Condensed';
}

footer {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: white;
    padding-bottom: 0.5rem !important;
    padding-top: 0.5rem !important;
}

footer p , a {
    color: black;
    width: 100%;
    margin-right: 0.5rem;
    margin-bottom: 0.25rem;
}

#social a {
    font-size: 1.5rem;
}

.bottom-space {
    margin-bottom: 1.5rem;
}

.tiny-subtitle {
    font-size: 0.4rem;
    color: gray;
    margin-top: 0.1rem;
}

.small-subtitle {
    font-size: 0.9rem;
    color: gray;
}

lottie-player {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
}
